<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://nj02all01.baidupcs.com/file/8950a194fd2b6f0b997298018b0a09b8?bkt=p3-00008394d7535ae3ca8cd9d326643728a9c8&fid=1026627620-250528-274938080426884&time=1496912439&sign=FDTAXGERLBHS-DCb740ccc5511e5e8fedcff06b081203-6Zsnqgu5geonb9nj4BEUIMdcvdI%3D&to=69&size=25538291&sta_dx=25538291&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH,Guangzhou,Netizen-anywhere,,sichuan,ct&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=00008394d7535ae3ca8cd9d326643728a9c8&sl=83034191&expires=8h&rt=sh&r=525456769&mlogid=3680904968610660774&vuk=1026627620&vbdid=2588932268&fin=sacurity.ipa&rtype=1&iv=0&dp-logid=3680904968610660774&dp-callid=0.1.1&hps=1&csl=300&csign=di%2Fvz6eWkGsC5tku5hHnr%2BBRByw%3D&by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>/mobile/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>/mobile/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jingantech.sacurity</string>
				<key>bundle-version</key>
				<string>1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>sacurity</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
